<div id="details-modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h3>Signalgeber Optionen für <span id="modal-provider-name">SIGNAL_NAME</span></h3>
        <ul>
            <li><a href="/edit-signal">Eingabe bearbeiten</a></li>
            <li><a href="/signal-analysis">Signal Analyse</a></li>
            <li><a href="/copy-signal">Kopieren zum anderen Account</a></li>
            <li><a href="/manual-signal">Signal manuell</a></li>
            <li><a href="/delete-provider">Signalgeber löschen</a></li>
            <li><a href="/delete-data">Daten löschen</a></li>
        </ul>
    </div>
</div>
